@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat;:300,400,600,700,800|Source+Sans+Pro:300,400,600,700);

/* Scroll smooth */
html {
  scroll-behavior: smooth;
}

/* Counter */
h3 {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-weight: 800;
}

.servicios {
  border-radius: 1rem;
  box-shadow: 0 0px 50px rgba(99, 99, 99, 0.433);
}

.counter-item .counter-stat {
  font-size: 50px;
}

.counter-item p {
  margin-bottom: 0px;
}

/*Form*/
.shadow-ontop-effect {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.radioUpgraded {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* landing */
.custom-bg {
  position: relative;
  /* Required for ::before pseudo-element */
}

.custom-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/Fotos1/ALUMNADO\ IDIOMAS.jpg');
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(40%) contrast(80%);
}


.is-z-preference{
  z-index: 1;
}

@media screen and (min-width: 769px), print {
  .hero.is-big .hero-body {
    padding: 14rem 6rem;
  }
}

@media screen and (max-width: 769px), print {
  .hero.is-big .hero-body {
    padding: 10rem 6rem;
  }
}

/*faq*/
.is-faq:hover {
  border-bottom: 3px solid #e0e0e0;
}

.layout {
  width: 600px;
  margin: auto;
}

.accordion {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(105, 206, 105);
  border-radius: 10px;
}

.accordion__question p {
  margin: 5px;
  padding: 0;
  font-family: Verdana;
  font-size: 20px;
}

.accordion__answer p {
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  background: rgb(82, 170, 122);
  border-radius: 10px;
}

.accordion:hover {
  cursor: pointer;
}

.accordion__answer {
  display: none;
}

.accordion.active .accordion__answer {
  display: block;
}

.bottom-border {
  border-bottom: 1px solid #e0e0e0;
}

.card-header-no-border {
  background-color: transparent;
  align-items: stretch;
  display: flex;
}

/*Caroussel*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;

}

h1 {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.container {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, .5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
  background-image: url("../../images/fotos-perfil-usuarios/user1.jpeg");
}

.card:nth-of-type(2) .image-container {
  background-image: url("../../images/fotos-perfil-usuarios/user2.jpg");
}

.card:nth-of-type(3) .image-container {
  background-image: url("../../images/fotos-perfil-usuarios/user3.jpeg");
}

.card:nth-of-type(4) .image-container {
  background-image: url("../../images/fotos-perfil-usuarios/user4.jpeg");
}

.card:nth-of-type(5) .image-container {
  background-image: url("../../images/fotos-perfil-usuarios/user5.jpg");
}


.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);

}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0, 0, 0, .1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

.h2car {
  padding: 1em;
  margin-top: 1em;
  background: rgba(0, 0, 0, .3);
  text-align: center;
  color: white;
  border-radius: .2em;
  display: inline-block;
  transform: translateX(calc((100vw - 100%) / 2))
}

.h2car a {
  color: #f5b916
}